.heading {
    margin-bottom: 1.5rem;
}

.subTitle {
    font-size: 22px;
    line-height: 27px;
}

.mainTitle {
    color: var(--black);
    font-family: var(--headings);
    font-weight: 900;
}

.medium {
    font-size: 42px;
    line-height: 48px;
}

.large {
    font-size: 82px;
    line-height: 95px;
}