:root {
    /* typography */
    --text: 'Montserrat', sans-serif;
    --headings: 'Elsie Swash Caps', cursive;

    /* colors */
    --white: #FFFFFF;
    --black: #202020;
    --gray: #8D8D8D;
    --light-gray: rgba(32, 32, 32, 0.5);
    --background-gray: #C4C4C4;
    --orange: #FFCB47;
    --orange-hover: #FDAA3E;
}

html, body {
    height: 100%;
}

body {
    background: url('/public//splash.png') top right/50% no-repeat, rgba(0, 0, 0, 0.03) url('/public/background.png') center/cover no-repeat;
    color: var(--light-gray);
    font-family: var(--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 1200px;
    margin: 0 auto;
}